In [1]:
import numpy as np
import pandas as pd

In [2]:
# Abrimos archivo CSV previamente procesado 
archivo = '../Data/data_pre_procesada.csv'

data = pd.read_csv(archivo)

In [3]:
data['Nueva_Coleccion'].is_monotonic_increasing

False

In [6]:
df = data.sort_values(by='Nueva_Coleccion', ascending=True)

In [8]:
df.head()

,Coleccion,Referencia,Descripcion,Color,No.Pedido,Tot_Piezas,Costo_Fabrica,Precio_Venta,Pais_Producto,Cta_Cliente,Nombre_Cliente,Estatus,Plataforma,familia,Pais_Producto_fil,Cta_Cliente_final,Temporada,Nueva_Coleccion
19445,SS2016,RE5818,BUFANDA PARA CABALLERO,00Q,5257,2.0,20.96,36.0,italia,2209051,"INVERSIONES MONTIJO, S.A.",EN SISTEMA,EUROPA,RE,italia,2209051,SS,2016-05-01
19989,SS2016,TH5275,SUETER CUELLO REDONDO PARA CABALLERO,FSL,5257,12.0,15.97,27.0,peru,2209051,"INVERSIONES MONTIJO, S.A.",EN SISTEMA,AMERICA,TH,peru,2209051,SS,2016-05-01
19990,SS2016,TH5275,SUETER CUELLO REDONDO PARA CABALLERO,L34,5218,10.0,15.97,27.0,peru,2306225,"REMOTEXBO, S.A.",EN SISTEMA,AMERICA,TH,peru,2306225,SS,2016-05-01
19991,SS2016,TH5275,SUETER CUELLO REDONDO PARA CABALLERO,L34,5257,12.0,15.97,27.0,peru,2209051,"INVERSIONES MONTIJO, S.A.",EN SISTEMA,AMERICA,TH,peru,2209051,SS,2016-05-01
19992,SS2016,TH5275,SUETER CUELLO REDONDO PARA CABALLERO,L34,5305,10.0,15.97,27.0,peru,2000006,RES.CLIENTES INTERNACIONALES,EN SISTEMA,AMERICA,TH,peru,2000006,SS,2016-05-01

In [9]:
df.tail()

,Coleccion,Referencia,Descripcion,Color,No.Pedido,Tot_Piezas,Costo_Fabrica,Precio_Venta,Pais_Producto,Cta_Cliente,Nombre_Cliente,Estatus,Plataforma,familia,Pais_Producto_fil,Cta_Cliente_final,Temporada,Nueva_Coleccion
18296,FW2024,TH6709,T-SHIRT CUELLO REDONDO,031,9663,9.0,0.0,33.0,peru,2401112,YOUNG FASHION RAMON HIPOLITO PEREZ,,AMERICAS,TH,peru,2401112,FW,2024-11-01
18295,FW2024,TH6709,T-SHIRT CUELLO REDONDO,031,9662,4.0,0.0,33.0,peru,2218028,"CORP.DE FRANQUICIAS CENTRO AMERICANA,S.A",,AMERICAS,TH,peru,2218028,FW,2024-11-01
18294,FW2024,TH6709,T-SHIRT CUELLO REDONDO,031,9661,60.0,0.0,33.0,peru,1307012,RES. GABYN S.A.,,AMERICAS,TH,peru,1307012,FW,2024-11-01
18292,FW2024,TH6709,T-SHIRT CUELLO REDONDO,001,9685,54.0,0.0,33.0,peru,2000006,RES.CLIENTES INTERNACIONALES,,AMERICAS,TH,peru,2000006,FW,2024-11-01
17318,FW2024,MH6270,VESTIDO DE BANO,802,9670,5.0,0.0,40.0,turquia,2224094,"JOSE N. BATARSE, S.A. DE C.V.",,EUROMED,MH,turquia,2224094,FW,2024-11-01

In [10]:
# Converting dates to datetime objects
df['date'] = pd.to_datetime(df['Nueva_Coleccion'], infer_datetime_format=True)

# Setting dates as the index
df.set_index(['date'], inplace=True)

In [11]:
df.head()

,Coleccion,Referencia,Descripcion,Color,No.Pedido,Tot_Piezas,Costo_Fabrica,Precio_Venta,Pais_Producto,Cta_Cliente,Nombre_Cliente,Estatus,Plataforma,familia,Pais_Producto_fil,Cta_Cliente_final,Temporada,Nueva_Coleccion
date,,,,,,,,,,,,,,,,,,
2016-05-01,SS2016,RE5818,BUFANDA PARA CABALLERO,00Q,5257,2.0,20.96,36.0,italia,2209051,"INVERSIONES MONTIJO, S.A.",EN SISTEMA,EUROPA,RE,italia,2209051,SS,2016-05-01
2016-05-01,SS2016,TH5275,SUETER CUELLO REDONDO PARA CABALLERO,FSL,5257,12.0,15.97,27.0,peru,2209051,"INVERSIONES MONTIJO, S.A.",EN SISTEMA,AMERICA,TH,peru,2209051,SS,2016-05-01
2016-05-01,SS2016,TH5275,SUETER CUELLO REDONDO PARA CABALLERO,L34,5218,10.0,15.97,27.0,peru,2306225,"REMOTEXBO, S.A.",EN SISTEMA,AMERICA,TH,peru,2306225,SS,2016-05-01
2016-05-01,SS2016,TH5275,SUETER CUELLO REDONDO PARA CABALLERO,L34,5257,12.0,15.97,27.0,peru,2209051,"INVERSIONES MONTIJO, S.A.",EN SISTEMA,AMERICA,TH,peru,2209051,SS,2016-05-01
2016-05-01,SS2016,TH5275,SUETER CUELLO REDONDO PARA CABALLERO,L34,5305,10.0,15.97,27.0,peru,2000006,RES.CLIENTES INTERNACIONALES,EN SISTEMA,AMERICA,TH,peru,2000006,SS,2016-05-01

# Train - Test - split

In [6]:
# Features = Cta_cliente + familia + nueva_colección
X = [['Cta_Cliente', 'familia']]

# Target = Tot_Piezas
y = data['Tot_Piezas']

In [7]:
X.head()

            Cta_Cliente familia
date
2016-11-01      2313076      RK
2016-11-01      2224074      RK
2016-11-01      2224090      RK
2016-11-01      2209051      RK
2016-11-01      2313076      RK

In [8]:
X.shape

(34638, 2)

In [9]:
X.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 34638 entries, 2016-11-01 to 2024-05-01
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Cta_Cliente  34638 non-null  int64
 1   familia      34638 non-null  object
dtypes: int64(1), object(1)
memory usage: 811.8+ KB

In [10]:
#Transformamos la columna cta_cliente a tipo object para que cada número se tome como único 
X['Cta_Cliente'] = X['Cta_Cliente'].astype('object')

/tmp/ipykernel_1552/3960152994.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Cta_Cliente'] = X['Cta_Cliente'].astype('object')

In [11]:
X.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 34638 entries, 2016-11-01 to 2024-05-01
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Cta_Cliente  34638 non-null  object
 1   familia      34638 non-null  object
dtypes: object(2)
memory usage: 811.8+ KB

In [12]:
y.head()

date
2016-11-01    6.0
2016-11-01    2.0
2016-11-01    2.0
2016-11-01    5.0
2016-11-01    6.0
Name: Tot_Piezas, dtype: float64

In [13]:
y.shape

(34638,)

# División dataset en train y test