In [1]:
import numpy as np
import pandas as pd

In [2]:
# Abrimos archivo CSV previamente procesado 
archivo = '../Data/data_pre_procesada.csv'

data = pd.read_csv(archivo)

In [3]:
data.head()

,Coleccion,Referencia,Descripcion,Color,No.Pedido,Tot_Piezas,Costo_Fabrica,Precio_Venta,Pais_Producto,Cta_Cliente,Nombre_Cliente,Estatus,Plataforma,familia,Pais_Producto_fil,Cta_Cliente_final,Temporada,Nueva_Coleccion
0,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5597,6.0,15.65,25.0,china,2313076,"RIPOSTO,S.A.",EN SISTEMA,ASIA,RK,china,2313076,FW,2016-11-01
1,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5630,2.0,15.65,25.0,china,2224074,ICOSAL S.A. DE C.V.,EN SISTEMA,ASIA,RK,china,2224074,FW,2016-11-01
2,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5631,2.0,15.65,25.0,china,2224090,"ICOSAL,S.A. AEROPUERT",EN SISTEMA,ASIA,RK,china,2224090,FW,2016-11-01
3,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5635,5.0,15.65,25.0,china,2209051,"INVERSIONES MONTIJO, S.A.",EN SISTEMA,ASIA,RK,china,2209051,FW,2016-11-01
4,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,031,5597,6.0,15.65,25.0,china,2313076,"RIPOSTO,S.A.",EN SISTEMA,ASIA,RK,china,2313076,FW,2016-11-01

# Defición features y target

In [4]:
# Features = Cta_cliente + familia + nueva_colección
X = data[['Cta_Cliente', 'familia', 'Nueva_Coleccion']]

# Target = Tot_Piezas
y = data['Tot_Piezas']

In [5]:
X.head()

   Cta_Cliente familia Nueva_Coleccion
0      2313076      RK      2016-11-01
1      2224074      RK      2016-11-01
2      2224090      RK      2016-11-01
3      2209051      RK      2016-11-01
4      2313076      RK      2016-11-01

In [7]:
X.shape

(34638, 3)

In [12]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34638 entries, 0 to 34637
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Cta_Cliente      34638 non-null  int64
 1   familia          34638 non-null  object
 2   Nueva_Coleccion  34638 non-null  object
dtypes: int64(1), object(2)
memory usage: 812.0+ KB

In [15]:
#Transformamos la columna cta_cliente a tipo object para que cada número se tome como único 
X['Cta_Cliente'] = X['Cta_Cliente'].astype('object')

/tmp/ipykernel_1254/3960152994.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Cta_Cliente'] = X['Cta_Cliente'].astype('object')

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34638 entries, 0 to 34637
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Cta_Cliente      34638 non-null  object
 1   familia          34638 non-null  object
 2   Nueva_Coleccion  34638 non-null  object
dtypes: object(3)
memory usage: 812.0+ KB

In [6]:
y.head()

0    6.0
1    2.0
2    2.0
3    5.0
4    6.0
Name: Tot_Piezas, dtype: float64

In [8]:
y.shape

(34638,)

# División dataset en train y test