In [1]:
import numpy as np
import pandas as pd

# Análisis de la Data

El archivo cuenta con un total de 64 columnas. Sin embargo, del análisis de cada columna y la información necesaria para realizar el presente proyecto, sólo vamos a seleccionar 11.

In [2]:
# Path para acceder al archivo csv
archivo = '../Data/Compras_modificado.csv'

# Selección de columnas
columnas_select = ['Coleccion', 'Referencia', 'Color', 'Descripcion', 'No.Pedido', 
                   'Tot_Piezas', 'Costo_Fabrica', 'Precio_Venta',
                   'Pais_Producto', 'Cta_Cliente', 'Nombre_Cliente', 
                   'Estatus', 'Plataforma', 'familia']

# Abrir archivo csv con columnas seleccionadas
data_df = pd.read_csv(archivo, usecols=columnas_select)

In [3]:
data_df.head()

,Coleccion,Referencia,Descripcion,Color,No.Pedido,Tot_Piezas,Costo_Fabrica,Precio_Venta,Pais_Producto,Cta_Cliente,Nombre_Cliente,Estatus,Plataforma,familia
0,AW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5590,12.0,15.65,25.0,CHINA,1207097,RESERVA SUCURSALES,EN SISTEMA,ASIA,RK
1,AW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5595,12.0,15.65,25.0,CHINA,1207097,RESERVA SUCURSALES,EN SISTEMA,ASIA,RK
2,AW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5597,6.0,15.65,25.0,CHINA,2313076,"RIPOSTO,S.A.",EN SISTEMA,ASIA,RK
3,AW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5599,4.0,15.65,25.0,CHINA,2305201,"MYL DE COLOMBIA,SAS",EN SISTEMA,ASIA,RK
4,AW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5600,4.0,15.65,25.0,CHINA,2305201,"MYL DE COLOMBIA,SAS",EN SISTEMA,ASIA,RK

## Análisis general de los datos

In [4]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65597 entries, 0 to 65596
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Coleccion       65597 non-null  object
 1   Referencia      65597 non-null  object
 2   Descripcion     65597 non-null  object
 3   Color           65597 non-null  object
 4   No.Pedido       65597 non-null  int64
 5   Tot_Piezas      65597 non-null  float64
 6   Costo_Fabrica   65597 non-null  float64
 7   Precio_Venta    65597 non-null  float64
 8   Pais_Producto   65597 non-null  object
 9   Cta_Cliente     65597 non-null  int64
 10  Nombre_Cliente  65597 non-null  object
 11  Estatus         65597 non-null  object
 12  Plataforma      65597 non-null  object
 13  familia         65597 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 7.0+ MB

In [5]:
data_df.describe()

          No.Pedido    Tot_Piezas  Costo_Fabrica  Precio_Venta   Cta_Cliente
count  65597.000000  65597.000000   65597.000000  65597.000000  6.559700e+04
mean    7478.672805     17.126500      24.831679     44.497119  2.052870e+06
std     1367.369884     30.368732      12.421134     21.193926  4.587816e+05
min        0.000000      0.000000       0.000000      0.000000  0.000000e+00
25%     6405.000000      5.000000      17.470000     33.000000  2.201119e+06
50%     7228.000000      8.000000      26.600000     44.000000  2.224074e+06
75%     8747.000000     15.000000      31.910000     55.000000  2.306225e+06
max     9685.000000    849.000000     148.960000   1000.000000  2.601001e+06

In [6]:
data_df.isnull().sum()

Coleccion         0
Referencia        0
Descripcion       0
Color             0
No.Pedido         0
Tot_Piezas        0
Costo_Fabrica     0
Precio_Venta      0
Pais_Producto     0
Cta_Cliente       0
Nombre_Cliente    0
Estatus           0
Plataforma        0
familia           0
dtype: int64

**No hay datos nulos**

# Pre-procesamiento básico

En este pre-procesamiento básico, se van a realizar los siguientes ajustes:

1. Eliminar duplicados
2. Filtrar columna "Estatus" para eliminar pedidos "cancelados"
3. Filtrar clientes que desde 2019 no compran
4. Verificar existencia de datos nulos. Anteriormente se observó que no hay NaN, pero se verificarán otras formas de existencia de datos no válidos
4. Ajustar errores de texto en columnas con dato tipo obj

## Eliminar duplicados

In [7]:
data_df.shape

(65597, 14)

In [8]:
data_proces_df = data_df.drop_duplicates()

In [9]:
data_proces_df.shape

(65419, 14)

In [10]:
duplicados = data_df.shape[0] - data_proces_df.shape[0]
print(f'Se eliminaron {duplicados} filas duplicadas')

Se eliminaron 178 filas duplicadas

## Filtrado según estatus de la compra

Se eliminan las compras con estatus "cancelado" y "caida"

In [11]:
data_proces_df['Estatus'].unique()

array(['EN SISTEMA', 'CANCELADO', 'CAIDA', 'EN PROCESO',
       '               ', 'EN BODEGA', 'EN PUERTO', '03/22/2024',
       '02/16/2024', '02/23/2024', '02/14/2024', '02/19/2024',
       '03/08/2024', '02/09/2024'], dtype=object)

In [12]:
data_proces_df['Estatus'].value_counts()

EN SISTEMA         45387
CANCELADO          14164
                    4032
CAIDA                490
02/14/2024           452
03/22/2024           280
02/19/2024           182
02/16/2024           154
EN PROCESO           115
03/08/2024            70
EN PUERTO             38
02/23/2024            35
EN BODEGA             10
02/09/2024            10
Name: Estatus, dtype: int64

In [13]:
# Filtrar data set. Eliminamos compras canceladas o caídas
data_proces_status = data_proces_df[(data_proces_df['Estatus'] != 'CANCELADO') & (data_proces_df['Estatus'] != 'CAIDA')]

In [14]:
data_proces_status['Estatus'].unique()

array(['EN SISTEMA', 'EN PROCESO', '               ', 'EN BODEGA',
       'EN PUERTO', '03/22/2024', '02/16/2024', '02/23/2024',
       '02/14/2024', '02/19/2024', '03/08/2024', '02/09/2024'],
      dtype=object)

In [15]:
compras_filtradas = data_proces_status.shape[0]
compras_filtradas

50765

In [16]:
compras_canceladas = data_proces_df.shape[0] - compras_filtradas
print(f'Se filtró la base, se eliminaron {compras_canceladas} compras canceladas o caídas')

Se filtró la base, se eliminaron 14654 compras canceladas o caídas

## Datos nulos

En el análisis inicial se observó que no hay datos NAN, pero se analizarán otras formas de datos nulos para como texto vacío, caracteres especiales, etc

In [17]:
columns = data_proces_status.columns
columns

Index(['Coleccion', 'Referencia', 'Descripcion', 'Color', 'No.Pedido',
       'Tot_Piezas', 'Costo_Fabrica', 'Precio_Venta', 'Pais_Producto',
       'Cta_Cliente', 'Nombre_Cliente', 'Estatus', 'Plataforma', 'familia'],
      dtype='object')

In [18]:
# Diccionario con valores únicos por columna
valores_unicos = {}

for column in columns:
    valores_u = data_proces_status[column].unique()
    valores_unicos[column] = valores_u

In [19]:
valores_unicos

{'Coleccion': array(['AW2016', 'AW2017', 'AW2018', 'AW2019', 'AW2020', 'AW2021',
        'FW2022', 'FW2023', 'FW2024', 'SS2016', 'SS2017', 'SS2018',
        'SS2019', 'SS2020', 'SS2021', 'SS2022', 'SS2023', 'SS2024'],
       dtype=object),
 'Referencia': array(['RK2321', 'RK2447', 'RK2464', ..., 'TJ7737 PE', 'TJ7950 PE',
        'TJ7951 PE'], dtype=object),
 'Descripcion': array(['GORRA LACOSTE PARA CABALLERO', 'MEDIAS LACOSTE PARA CABALLERO',
        'CAMISA PARA CABALLERO', 'JACKET PARA CABALLERO',
        'PANTALON LARGO PARA CABALLERO', 'CAMISA TIPO POLO PARA CABALLERO',
        'BERMUDA PARA CABALLERO', 'PANTALON CORTO PARA CABALLERO',
        'SUETER CON CAPUCHA PARA CABALLERO',
        'T-SHIRT CUELLO REDONDO PARA CABALLERO',
        'T-SHIRT CUELLO V PARA CABALLERO', 'T-SHIRT PARA CABALLERO',
        'SUETER MANGA LARGA CON CAPUCHA PARA CABALLERO',
        'CONJUNTO DEPORTIVO PARA CABALLERO', 'CARDIGAN PARA CABALLERO',
        'PULLOVER PARA CABALLERO', 'SUETER MANGA LARGA PARA DAMA',
        'CAMISA TIPO POLO PARA DAMA', 'T-SHIRT PARA DAMA',
        'SUETER CUELLO REDONDO PARA DAMA', 'CAMISA PARA DAMA',
        'JACKET PARA DAMA', 'VESTIDO PARA DAMA', 'PANTALON PARA DAMA',
        'VESTIDO DE NIÑA', 'T-SHIRT PARA NIÑA', 'CAMISA PARA NIÑO',
        'CAMISA TIPO POLO PARA NIÑO', 'PANTALON PARA NIÑO',
        'T-SHIRT PARA NIÑO', 'CONJUNTO DEPORTIVO PARA NIÑO',
        'GORRA PARA CABALLERO', 'MEDIAS PARA CABALLERO',
        'CAMISA MANGA LARGA PARA CABALLERO',
        'CAMISA MANGA CORTA PARA CABALLERO', 'PANTALON PARA CABALLERO',
        'POLO MANGA CORTA PARA CABALLERO',
        'SUETER TIPO POLO PARA CABALLERO', 'SUETER PARA CABALLERO',
        'SUDADERA PARA CABALLERO', 'SUETER PARA DAMA',
        'POLO MANGA CORTA PARA DAMA', 'SUDADERA PARA DAMA',
        'CAMISA MANGA LARGA PARA DAMA', 'VESTIDO PARA NINA',
        'PIJAMA PARA BEBE (NIÑO)', 'CAMISA MANGA LARGA PARA NINOS',
        'CAMISA MANGA CORTA PARA NINOS', 'POLO MANGA CORTA PARA NINOS',
        'SUDADERA PARA NINOS', 'T-SHIRT PARA NINOS', 'POLO PARA NINOS',
        'GORRO PARA CABALLERO', 'BUFANDA PARA CABALLERO',
        'CALCETIN PARA CABALLERO',
        'SUETER POLO MANGA CORTA PARA CABALLERO',
        'SUETER POLO MANGA CORTA PARA DAMA', 'SUETER TIPO POLO PARA NINO',
        'SUDADERA PARA NINA', 'T-SHIRT PARA NINA', 'CONJUNTO PARA BEBE',
        'CAMISA MANGA LARGA PARA NINO', 'SUETER POLO PARA NINO',
        'PANTALON CORTO PARA NINO', 'PANTALON PARA NINO',
        'CAMISA TIPO POLO PARA NINO',
        'SUETER TIPO POLO MANGA LARGA PARA NINO', 'SUDADERA PARA NINO',
        'T-SHIRT PARA NINO', 'CALCETINES PARA CABALLERO',
        'ABRIGO PARA CABALLERO',
        'CAMISA TIPO POLO MANGA LARGA PARA CABALLERO',
        'CONJUNTO DEPORTIVO PARA C', 'PULLOVER PARA DAMA',
        'CARDIGAN PARA DAMA', 'T- SHIRT CUELLO V PARA DAMA',
        'PANTALON LARGO PARA DAMA', 'MASCARILLA DE USO NO QUIRURGICO',
        'CAMISA TIPO POLO PARA CAB', 'VESTIDO DE BANO PARA CABALLERO',
        'ABRIGO PARA DAMA', 'T-SHIRT CUELLO V PARA DAMA',
        'PIJAMA PARA BEBE', 'JACKET CON CAPUCHA PARA NINO',
        'CAMISA MANGA LARGA', 'CAMISA MANGA CORTA CUELLO',
        'CAMISA MANGA LARGA CUELLO',
        'SUETER CUELLO REDONDO PARA CABALLERO',
        'ABRIGO CON ZIPER PARA CABALLERO', 'SUETER TIPO POLO PARA DAMA',
        'SUDADERA CON CAPUCHA PARA DAMA', 'SUETER CUELLO V PARA DAMA',
        'SUETER TIPO POLO PARA NINA', 'SUETER CUELLO REDONDO PARA NINO',
        'SUETER MANGA LARGA CUELLO REDONDO PARA NINO',
        'PANTALON DEPORTIVO PARA CABALLERO',
        'T-SHIRT MANGA LARGA PARA DAMA', 'PANTALON DEPORTIVO PARA DAMA',
        'GORRA PARA NINOS', 'JACKET PARA NINO',
        'PANTALON DEPORTIVO PARA NINO', 'GORRA UNISEX',
        'CALCETINES UNISEX', 'JACKET CON CAPUCHA PARA CABALLERO',
        'VESTIDO DE BAÑO PARA CABALLERO',
        'ABRIGO CON CAPUCHA PARA CABALLERO', 'T-SHIRT PARA  NINO', 'BANDA',
        'GORRA', 'CALCETINES', 'SET DE CALCETINES 3 PIEZA',
        'CAMISA MANGA CORTA', 'ABRIGO', 'ABRIGO CON CAPUCHA',
        'PANTALON LARGO', 'SUETER TIPO POLO', 'PANTALON CORTO',
        'VESTIDO DE BANO', 'T-SHIRT CUELLO REDONDO', 'T-SHIRT CUELLO V',
        'CONJUNTO DEPORTIVO', 'PANTALON DEPORTIVO', 'PULLOVER', 'CARDIGAN',
        'T-SHIRT', 'VESTIDO', 'VESTIDO DEPORTIVO', 'ROPA',
        'SUETER M/CORTA PARA CABALLERO',
        'SUETER MANGA CORTA PARA CABALLERO',
        'SUETER TIPO POLO MANGA LARGA PARA CABALLERO',
        'SUETER CUELLO/V  PARA CABALLERO', 'SUETER  PARA CABALLERO',
        'SUETER MANGA LARGA PARA CABALLERO', 'BERMUDA PARA DAMA',
        'JEAN PARA DAMA', 'VESTIDO PARA NIÑA', 'FALDA PARA NIÑA',
        'BLUSA PARA NIÑA', 'SUETER PARA NIÑO', 'PANTALON CORTO PARA NIÑO',
        'PANTALON LARGO PARA NIÑO', 'SUETER TIPO POLO PARA NIÑO',
        'PULLOVER PARA NIÑO', 'SUETER CUELLO/V PARA NIÑO',
        'SUETER CUELLO REDONDO PARA NIÑO',
        'SUETER TIPO POLO MANGA CORTA PARA CABALLERO',
        'T-SHIRT CUELLO V MANGA LARGA PARA CABALLERO',
        'PANTALON CORTO PARA DAMA', 'SUETER TIPO POLO MANGA CO',
        'SUETER TIPO POLO MANGA CORTA PARA DAMA',
        'CAMISA MANGA LARGA PARA NIÑO', 'PANTALÓN CORTO PARA NIÑO',
        'VISERA  PARA CABALLERO', 'JACKET  PARA CABALLERO',
        'BERMUDAS PARA CABALLERO', 'PANTALON CORTO PARA CABAL',
        'VESTIDO DE BAðO PARA CABA', 'SUETER CUELLO REDONDO PAR',
        'SUDADERA CON CAPUCHA PARA CABALLERO', 'BERMUDAS PARA DAMA',
        'SUETER TIPO POLO PARA DAM', 'VESTIDOS PARA DAMA',
        'VESTIDOS PARA NIðA', 'VESTIDO DE BAðO PARA NIðO',
        'SUETER TIPO POLO PARA NIð', 'CONJUNTO DE PIJAMA',
        'CAMISA PARA NINO', 'PANTALON CORTO PARA NIðOS',
        'PANTALON PARA NIðO', 'GORRAS PARA CABALLERO',
        'PACK DE 3 MEDIAS PARA CABALLERO', 'JACKETS PARA CABALLERO',
        'T-SHIRT TIPO POLO MANGA CORTA PARA CABALLERO',
        'PANTALON BERMUDA PARA CABALLERO',
        'T-SHIRT MANGA CORTA  PARA CABALLERO',
        'T-SHIRT MANGA CORTA CUELLO REDONDO PARA CABALLERO',
        'T-SHIRT TIPO POLO MANGA CORTA PARA DAMA',
        'ABRIGO CON CAPUCHA PARA DAMA',
        'T-SHIRT MANGA CORTA CUELLO REDONDO PARA DAMA',
        'T-SHIRT MANGA CORTA CUELLO V PARA DAMA', 'VESTIDO PARA NINO',
        'CONJUNTO PARA NINO', 'SUETER MANGA LARGA PARA NINO',
        'T-SHIRT TIPO POLO MANGA CORTA PARA NINO',
        'VESTIDO DE BANO PARA NINO', 'T-SHIRT POLO MANGA CORTA PARA NINO',
        'ABRIGO PARA NINO', 'T-SHIRT CUELLO REDONDO PARA NINO',
        'T-SHIRT MANGA CORTA  PARA NINO', 'T-SHIRT MANGA CORTA PARA NINA',
        'CAMISA MANGA LARGA PARA C', 'SUETER TIPO POLO PARA CAB',
        'JACKET CUELLO V PARA CABA', 'PANTALON LARGO PARA CABAL',
        'VESTIDO DE BA?O PARA CABA', 'CARDIGAN CUELLO V PARA CA',
        'SUDADERA CON CAPUCHA PARA', 'T-SHIRT CUELLO V PARA DAM',
        'CAMISA MANGA LARGA PARA D', 'VESTIDO PARA NI?A',
        'CAMISA MANGA LARGA PARA N', 'SUETER TIPO POLO PARA NI?',
        'PANTALON CORTO PARA NI?O', 'PANTALON LARGO PARA NI?O',
        'SUETER TIPO POLO PARA NI?O', 'T-SHIRT PARA NI?O',
        'CAMISA TIPO POLO PARA NINA',
        '                                                  ',
        'GORRA PARA DAMA', 'CAMISA MANGA LARGAPARA CABALLERO',
        'PANTALON JEANS LARGO PARA CABALLERO', 'PANTALON LARGO PARA NINO',
        'CAMISA POLO PARA NINO', 'CAMISA TIPO PO LO PARA NINO',
        'GORRA  PARA DAMA', 'CAMISA TIPO POLO PARA CABALERO',
        'SHORT DE BANO PARA CABALLERO',
        'T-SHIRT  CUELLO REDONDO PARA DAMA',
        'ABRIGO CON CAPUCHA PARA NINO', 'MEDIAS LARGAS PARA CABALLERO',
        'MEDIAS CORTAS PARA CABALLERO', 'SUETER CUELLO V PARA CABALLERO',
        'SUETER MANGA LARGA CUELLO REDONDO PARA CABALLERO',
        'BRASIER DEPORTIVO PARA DAMA', 'CHAQUETA PARA DAMA',
        'SUETER MANGA LARGA CUELLO REDONDO PARA DAMA', 'ROPA PARA BEBE',
        'PULLOVER PARA NINO'], dtype=object),
 'Color': array(['001', '031', '166', ..., 'IUT', 'IU9', 'T69'], dtype=object),
 'No.Pedido': array([5590, 5595, 5597, 5599, 5600, 5601, 5616, 5617, 5618, 5619, 5624,
        5626, 5627, 5630, 5631, 5635, 5620, 5625, 5594, 5608, 5636, 5642,
        5695, 5696, 5699, 5706, 5770, 5692, 5615, 5651, 5610, 5698, 5500,
        5509, 5510, 5709, 5604, 5700, 5511, 5514, 5579, 5513, 5515, 5643,
        5623, 5605, 5504, 5505, 5506, 5507, 5508, 5775, 5621, 5622,    0,
        5633, 6364, 6367, 6368, 6373, 6374, 6375, 6376, 6385, 6386, 6388,
        6391, 6392, 6402, 6404, 6412, 6414, 6415, 6400, 6401, 6406, 6365,
        6366, 6405, 6407, 6393, 6413, 6399, 6409, 6410, 7046, 7047, 7053,
        7062, 7064, 7065, 7071, 7073, 7081, 7058, 7054, 7055, 7060, 7061,
        7063, 7066, 7068, 7070, 7072, 7075, 7076, 7077, 7078, 7059, 7080,
        7069, 7079, 7057, 7074, 7052, 7067, 7056, 7419, 7420, 7442, 7447,
        7448, 7450, 7453, 7454, 7456, 7457, 7462, 7444, 7449, 7455, 7460,
           1, 7859, 7863, 7864, 7868, 7869, 7870, 7875, 7876, 7877, 7878,
        7880, 7881, 7867, 7871, 7874, 7879, 8168, 8176, 8177, 8182, 8183,
        8187, 8190, 8191, 8194, 8195, 8178, 8180, 8202, 8205, 8710, 8713,
        8715, 8725, 8727, 8730, 8732, 8736, 8737, 8738, 8744, 8747, 8750,
        8712, 8729, 8731, 8741, 8723, 8774, 9065, 9066, 9090, 9093, 9095,
        9096, 9097, 9098, 9100, 9101, 9105, 9104, 9106, 9121, 9122, 9092,
        9107, 9102, 9103, 9099, 9094, 9661, 9664, 9666, 9667, 9673, 9674,
        9680, 9682, 9652, 9662, 9663, 9670, 9678, 9684, 9685, 9672, 9671,
        9668, 9669, 5219, 5257, 5184, 5185, 5199, 5200, 5201, 5204, 5211,
        5187, 5188, 5205, 5218, 5220, 5222, 5229, 5231, 5232, 5283, 5213,
        5237, 5212, 5302, 5285, 5181, 5241, 5221, 5305, 5294, 5278, 5279,
        5290, 5223, 5210, 6054, 6055, 6057, 6064, 6073, 6075, 6079, 6084,
        6085, 6087, 6088, 6102, 6105, 6130, 6043, 6050, 6061, 6062, 6070,
        6076, 6080, 6089, 6091, 6093, 6094, 6095, 6103, 6118, 6120, 6078,
        6074, 6104, 6012, 6014, 6016, 6018, 6024, 6025, 6027, 6037, 6049,
        6022, 6042, 6038, 6005, 6007, 6011, 6019, 6020, 6030, 6004, 6015,
        6573, 6588, 6591, 6592, 6596, 6598, 6599, 6605, 6607, 6608, 6614,
        6615, 6619, 6620, 6621, 6622, 6627, 6628, 6623, 6584, 6585, 6594,
        6597, 6616, 6618, 6564, 6581, 6617, 6536, 6541, 6542, 6543, 6544,
        6546, 6549, 6552, 6556, 6557, 6539, 6545, 6547, 6551, 6554, 6555,
        6550, 6553, 6548, 6578, 6625, 7198, 7206, 7208, 7209, 7210, 7212,
        7220, 7228, 7229, 7230, 7236, 7204, 7205, 7207, 7214, 7215, 7218,
        7224, 7226, 7227, 7232, 7237, 7239, 7245, 7194, 7192, 7213, 7235,
        7225, 7234, 7233, 7242, 7243, 7244, 7246, 7633, 7667, 7668, 7674,
        7675, 7676, 7678, 7679, 7682, 7683, 7646, 7680, 7681, 7995, 7997,
        7999, 8001, 8003, 8004, 8005, 8006, 8008, 8009, 8012, 7998, 8007,
        8420, 8426, 8433, 8434, 8437, 8441, 8446, 8448, 8469, 8408, 8415,
        8442, 8428, 8449, 8429, 8431, 8864, 8865, 8866, 8871, 8874, 8875,
        8878, 8879, 8881, 8882, 8883, 8884, 8885, 8886, 8889, 8892, 8893,
        8876, 8873, 8890, 8877, 8895, 8887, 8888, 8896, 8894, 9412, 9420,
        9421, 9428, 9431, 9432, 9433, 9434, 9411, 9423, 9426, 9427, 9430,
        9436, 9424, 9435, 9419, 9422, 9429, 9437, 9425]),
 'Tot_Piezas': array([ 12.,   6.,   4.,   1.,   2.,  10.,   3.,   5.,  20.,  15.,   8.,
          7.,  29.,  48.,  45.,  25.,  24.,  21.,  84.,  55.,  30.,  37.,
         28.,  36.,  18.,   9.,  11.,  16.,  13.,  53.,  54.,  27.,   0.,
         17.,  41.,  14.,  81.,  72.,  22.,  63.,  32.,  35.,  26.,  34.,
         19.,  38.,  80.,  64.,  56.,  50.,  52.,  88.,  33.,  40.,  42.,
        160.,  78., 140.,  89.,  69., 145.,  49.,  39.,  43.,  96.,  61.,
         70.,  46.,  51.,  44.,  90., 108.,  60.,  71.,  74.,  57.,  66.,
         92., 107., 216.,  58., 144., 324., 136., 135.,  82., 105., 228.,
        114., 191., 180., 132.,  76.,  65.,  75., 134.,  77.,  98., 104.,
        156., 162., 204., 102., 155., 152.,  47., 128., 137., 110., 101.,
        113., 130., 142., 158.,  68., 178., 198.,  67., 100.,  97., 138.,
         87., 141.,  59.,  23., 106.,  31.,  62.,  91.,  86., 200., 660.,
        434., 696., 700., 775., 749., 295., 419., 316., 322., 706., 710.,
        648., 849., 690., 505., 150., 523., 680., 470., 309., 305., 506.,
        206., 429., 126., 458., 170., 515., 459., 120.,  99., 175., 121.,
        410., 320., 210., 201., 185., 245., 540., 537., 161., 165., 331.,
        440., 390., 432., 430., 401., 445., 435., 421., 487., 510., 485.,
        488., 386., 154., 340., 454., 292., 338., 350., 112., 115., 117.,
        641., 647., 541., 550., 650., 536., 235., 285., 215., 360., 250.,
        118., 111., 124., 212., 208., 205., 168.,  95., 315., 149., 116.,
        194.,  73.,  85., 253., 249., 131., 281., 275., 172., 153., 125.,
        109., 420., 381., 146., 133., 239., 240., 173., 220., 186., 225.,
        148., 181., 265., 143., 257., 234., 258., 218., 243., 231., 233.,
        236., 213., 129., 193., 255., 267., 260., 157., 127., 188.,  83.,
        190., 179., 271.,  94.,  93., 122.,  79., 103., 177., 183., 159.,
        139., 119., 147., 254., 256., 123., 226., 184., 209., 207., 151.,
        300., 166., 171., 224., 222., 230., 223., 195., 174., 169., 164.,
        202.]),
 'Costo_Fabrica': array([ 15.65,  11.14,  16.71,  10.86,  13.31,  11.98,  11.22,   5.14,
          3.93,   4.22,   5.75,   3.67,  34.59,  30.6 ,  31.93,  37.72,
         34.79,  34.12,  25.93,  27.28,  26.45,  35.63,  25.95,  35.73,
         40.52,  39.57,  32.13,  26.74,  30.02,  72.38,  73.35,  73.93,
         66.53,  68.  ,  87.23,  42.58,  46.8 ,  31.47,  26.08,  25.28,
         27.04,  22.29,  28.57,  17.14,  21.83,  27.13,  21.21,  28.73,
         36.43,  41.41,  29.17,  46.1 ,  33.12,  31.91,  34.93,  29.34,
         32.47,  19.95,  20.62,  16.29,  20.81,  16.96,  20.96,  20.46,
         19.88,  22.35,  23.75,  17.3 ,  28.15,  23.19,  24.84,  41.91,
         68.23,  64.15,  57.07,  47.77,  42.3 ,  36.84,  30.62,  30.44,
         27.38,  16.9 ,  21.53,  26.61,  19.96,  21.29,  32.77,  54.7 ,
         50.26,  48.9 ,  43.91,  53.22,  33.26,  53.09,  24.46,  21.58,
         11.78,  18.56,  20.14,  26.6 ,  27.46,  14.84,  18.69,  15.71,
         13.25,  11.62,  13.97,  51.79,  15.97,   5.51,  11.51,  31.39,
         26.19,  41.24,  30.68,  28.66,  27.54,  38.8 ,  41.04,  85.74,
         62.1 ,  79.84,  38.59,  27.29,  43.06,  39.75,  36.33,  27.03,
         29.27,  17.62,  17.47,  20.2 ,  21.84,  13.65,  16.57,  24.56,
         65.51,  49.13,  32.76,  28.  ,  35.49,  43.31,  43.67,  18.22,
         33.53,  54.66,  28.71,  26.67,  26.55,  19.76,  20.15,  20.94,
         30.2 ,  13.63,  16.36,  25.73,  24.53,  27.15,  10.65,   9.45,
         15.  ,  22.11,  34.13,  30.03,  54.38,  56.42,  26.75,  24.44,
         23.21,  42.01,  37.73,  28.67,  31.4 ,  48.44,  73.95,  54.72,
         87.26,  34.09,  38.56,  35.3 ,  37.12,  24.04,  20.47,  27.14,
         39.58,  29.18,  32.48,  32.66,  46.12,  41.42,  34.94,  36.44,
         39.76,  16.94,  19.3 ,  17.82,  23.76,  20.79,  25.32,  23.2 ,
         19.89,  68.25,  24.3 ,  29.1 ,  66.2 ,  36.86,  34.49,  40.95,
         39.54,  40.53,  36.82,  33.13,  15.37,  33.54,  61.32,  54.68,
         47.78,  42.26,  36.34,  28.72,  23.03,  14.73,  36.04,  15.6 ,
         24.69,  18.57,  19.22,  17.26,  24.45,  19.21,  20.95,  15.72,
         17.36,  13.98,  12.74,  18.58,  18.  ,  11.83,  14.43,   6.04,
         24.57,  43.87,  35.94,  74.58,  81.34,  31.54,  24.5 ,  28.74,
         31.92,  26.09,  32.46,  19.1 ,  17.74,  16.77,  38.21,  26.73,
         29.28,  29.24,  19.57,  34.61,  45.04,  32.14,  33.33,  10.32,
         14.1 ,  12.03,  18.7 ,   3.85,  10.26,   8.11,  10.12,  18.63,
         14.64,   7.36,   5.03,  27.3 ,  33.46,  34.07,  35.5 ,  52.6 ,
         45.45,  25.16,  39.13,  41.93,  31.62,  21.54,  19.11,  30.75,
         48.32,  39.7 ,  26.18,  32.44,  14.61,  22.36,  15.39,  21.16,
         22.71,  30.21,  13.3 ,  11.58,  33.85,  34.18,  52.84,  27.55,
         25.94,  27.49,  44.73,  16.38,  24.85,  31.48,  41.37,  37.2 ,
         27.94,  19.74,  19.15,  13.39,  12.13,  21.15,   6.99,   4.19,
          5.59,  12.58,   6.63,  44.12,  46.05,  45.23,  82.36,  40.9 ,
         34.91,  21.86,  26.06,  20.67,  27.99,  36.92,  31.28,  43.32,
         45.28,  48.05,  26.51,  33.41,  22.04,  28.48,  72.67,  70.98,
         38.13,  61.29,  51.36,  37.96,  54.2 ,  38.57,  39.4 ,  55.68,
         36.4 ,  43.27,  26.81,  53.01,  57.98,  45.69,  34.9 ,  29.52,
         50.07,  60.24,  13.66,  34.78,  15.44,  19.73,  21.2 ,  22.17,
         22.92,  27.22,  28.2 ,  10.47,   8.84,  12.54,  15.4 ,  12.01,
         15.32,  21.91,  16.5 ,  11.01,   5.47,   6.77,  33.74,  29.35,
         46.65,  73.94,  54.94,  40.89,  39.6 ,  30.04,  46.6 ,  34.38,
         20.76,  27.23,  27.05,  36.94,  38.49,  36.46,  28.16,  27.72,
         27.19,  27.42,  26.94,  68.27,  50.02,  39.73,  50.76,  42.87,
         42.33,  27.51,  22.69,  17.46,  18.15,   0.  ,  15.34,  10.92,
         11.26,  15.01,  10.64,  10.99,   5.4 ,   3.82,   3.61,   4.14,
         30.74,  26.54,  35.02,  79.83,  40.94,  30.82,  53.36,  32.68,
         26.5 ,  25.15,  28.01,  16.8 ,  20.8 ,  28.17,  29.84,  28.59,
         36.32,  39.74,  29.64,  19.56,  14.9 ,  16.63,  25.21,  51.85,
         49.12,  27.45, 101.4 ,  59.62,  22.1 ,  11.2 ,  45.49,  18.2 ,
         21.01,  12.6 ,  17.63,  20.08,  14.54,  19.61,  11.39,  15.3 ,
         12.91,  11.9 ,  13.6 ,  41.33,  38.48,  29.86,  20.  ,  21.28,
         25.72,  45.94,  39.49,  18.16,  15.82,   9.31,   4.24,  38.32,
         24.43,  58.55,  27.73,  31.14,  32.49,  31.43,  48.03,  22.83,
         26.86,  21.73,  29.99,  25.02,  46.11,  19.37,  20.37,  19.91,
         24.12,  16.75,  32.97,  27.69,  33.88,  31.3 ,  12.57,  12.32,
         24.68,  28.37,  10.31,  12.41,   9.41,   4.31,  27.95,  30.61,
         33.91,  31.38,  60.63,  36.91,  31.42,  35.52,  38.61,  36.03,
         19.87,  18.27,  29.79,  25.29,  35.48,  49.14,  31.52,  25.6 ,
         23.52,  39.93,  25.04,  18.11,  19.31,  25.34,  27.34,  12.22,
         13.96,  13.26,  14.68,  13.12,  17.05,  10.54,  34.31,  31.2 ,
         62.01,  78.38,  27.39,  28.68,  40.77,  18.17,  32.1 ,  30.57,
         30.69,  16.37,  32.72,  20.84,  18.9 ,  19.07,  26.59,  18.61,
         21.03,  14.35,  35.56,  25.36,  39.24,  29.81,  12.05,  17.85,
          5.92,   3.58,   4.09,  44.46,  41.99,  37.08,  27.11,  27.82,
         32.37,  29.22,  23.28,  32.65,  25.81,  27.66,  23.97,  23.77,
         51.71,  43.39,  34.99,  53.24,  31.12,  42.31,  48.91,  24.66,
         14.27,  14.32,  11.91,  18.66,  13.34,   8.06,   4.11,   5.09,
         51.22,  51.12,  23.59,  41.82,  37.52,  24.9 ,  25.64,  22.57,
         16.24,  20.18,  29.88,  37.06,  29.46,  36.1 ,  21.87,  16.18,
         14.36,  24.96,  25.98,  18.67,  25.23,  23.53,  14.94,  19.92,
         33.4 ,  34.77,  48.25,  28.35,  29.93,  20.11,  26.37,  18.37,
         29.65,  15.15,  18.28,  17.6 ,  18.52,  19.47,  15.74,  26.49,
         10.49,  11.87,  13.82,  12.38,  13.18,  20.48,  17.76,  10.91,
          4.96,   9.26,   5.15,  37.93,  37.49,  33.01,  46.09,  44.18,
         42.86,  42.59,  47.82,  45.12,  78.73,  58.56,  76.91,  48.79,
         46.4 ,  46.39,  45.65,  42.39,  34.29,  35.32,  23.15,  36.07,
         25.46,  30.97,  45.48,  36.87,  25.05,  32.05,  26.65,  28.06,
         24.64,  27.79,  28.92,  44.1 ,  65.54,  50.31,  47.38,  43.08,
         44.72,  64.74,  57.99,  58.34,  69.01,  58.02,  50.94,  57.65,
         70.81,  57.03,  31.85,  63.93,  29.83,  44.42,  62.21,  54.45,
         69.5 ,  56.26,  12.95,  25.37,  24.8 ,  23.57,  42.07,  14.4 ,
         16.26]),
 'Precio_Venta': array([ 25. ,  19. ,  28. ,  18. ,  23. ,  20. ,   9. ,   7. ,  10. ,
          6. ,  59. ,  52. ,  54. ,  64. ,  58. ,  44. ,  46. ,  45. ,
         61. ,  69. ,  67. ,  55. ,  51. , 123. , 110. , 126. , 113. ,

Se analizará columna por columna ya que se observan valores diferentes sólo por errores de escritura. También se reemplazarán los datos que son una cadena de texto vacío

## Filtrado de clientes que desde 2019 no realizan compras

El objetivo es filtrar la base de datos para obtener sólo los clientes activos a partir del 2020.

Pasos:

1. Modificar columna colección para unificar escritura. Se reemplaza AW por FW

2. Filtrar clientes que no compran desde 2019. Para esto:

    1. se filtran las colecciones FW y SS desde 2020
    2. calculo de los clientes activos (es decir que han realizado compras desde 2020)
    3. Filtrado de dataset total para mantener sólo clientes activos (se mantienen compras desde 2016 pero sólo de los clientes activos)

In [20]:
# función para reemplazar 'AW' por 'FW'
def standardize_coleccion_name(name):
    return name.replace('AW', 'FW')

# Aplicar la función a la columna 'Coleccion'
data_proces_status['Coleccion'] = data_proces_status['Coleccion'].apply(standardize_coleccion_name)

data_proces_status['Coleccion'].value_counts()

/tmp/ipykernel_1070/1125347918.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_proces_status['Coleccion'] = data_proces_status['Coleccion'].apply(standardize_coleccion_name)

FW2018    6277
FW2016    4096
SS2024    3860
SS2018    3550
FW2024    3433
SS2019    3414
SS2016    3323
FW2017    3115
FW2022    2911
SS2017    2752
SS2023    2344
FW2023    2337
FW2019    2133
SS2020    2076
FW2020    1891
SS2022    1591
FW2021    1041
SS2021     621
Name: Coleccion, dtype: int64

In [21]:
# Identificar las colecciones válidas desde SS2020 en adelante
colecciones_validas = data_proces_status['Coleccion'].unique()
colecciones_validas

array(['FW2016', 'FW2017', 'FW2018', 'FW2019', 'FW2020', 'FW2021',
       'FW2022', 'FW2023', 'FW2024', 'SS2016', 'SS2017', 'SS2018',
       'SS2019', 'SS2020', 'SS2021', 'SS2022', 'SS2023', 'SS2024'],
      dtype=object)

In [22]:
# Comprenhesion list donde se pasa a número los últimos dos caracteres de la columna Colección para filtrar las temporadas desde 2020
colecciones_validas = [col for col in colecciones_validas if int(col[4:]) >= 20]

In [23]:
colecciones_validas

['FW2020',
 'FW2021',
 'FW2022',
 'FW2023',
 'FW2024',
 'SS2020',
 'SS2021',
 'SS2022',
 'SS2023',
 'SS2024']

In [24]:
# máscara booleana para las filas que tienen colecciones válidas
mask = data_proces_status['Coleccion'].isin(colecciones_validas)

In [25]:
# DataFrame para obtener solo las filas con colecciones válidas
data_df_filtered = data_proces_status[mask]

In [26]:
data_df_filtered.head()

,Coleccion,Referencia,Descripcion,Color,No.Pedido,Tot_Piezas,Costo_Fabrica,Precio_Venta,Pais_Producto,Cta_Cliente,Nombre_Cliente,Estatus,Plataforma,familia
18907,FW2020,RF6002,MASCARILLA DE USO NO QUIRURGICO,031,1,100.0,3.85,7.0,PERU,2000006,RES.CLIENTES INTERNACIONALES,EN SISTEMA,,RF
18908,FW2020,RF6101,MASCARILLA DE USO NO QUIRURGICO,LAW,1,100.0,10.26,18.0,PERU,2000006,RES.CLIENTES INTERNACIONALES,EN SISTEMA,,RF
18909,FW2020,RF6103,MASCARILLA DE USO NO QUIRURGICO,LAW,1,100.0,10.26,18.0,FRANCIA,2000006,RES.CLIENTES INTERNACIONALES,EN SISTEMA,,RF
18910,FW2020,RF6123,MASCARILLA DE USO NO QUIRURGICO,2BE,1,41.0,8.11,14.0,FRANCIA,2000006,RES.CLIENTES INTERNACIONALES,EN SISTEMA,,RF
18921,FW2020,RK2321,GORRA PARA CABALLERO,031,7859,24.0,15.65,26.0,CHINA,1307082,"INVERSIONES GABYN,S.A.",EN SISTEMA,ASIA,RK

In [27]:
# Obtener una lista de clientes activos (que han comprado desde SS2019)
clientes_activos = data_df_filtered['Nombre_Cliente'].unique()

In [28]:
clientes_activos

array(['RES.CLIENTES INTERNACIONALES', 'INVERSIONES GABYN,S.A.',
       'RIPOSTO,S.A.', 'CELL STAR DA VINCI ENTERPRICES',
       'ALMACEN JERUSALEN', 'RES.SUCURSALES SR.JACK',
       'ICOSAL S.A. DE C.V.', 'ADN GROUP, S.A.',
       'INVERSIONES MONTIJO, S.A.', 'REMOTEXBO, S.A.',
       'DISTRIBUIDORA ATLANTIS', 'DISTRIBUIDORA RIMET HONDURAS, S.A.',
       'ICOSAL,S.A. AEROPUERT', 'OPTIKA, S.A.', 'CITY MALL (DAVID)',
       '                                        ', 'RES. GABYN S.A.',
       'CORP.DE FRANQUICIAS CENTRO AMERICANA,S.A',
       'INVERSIONES Y REPRES. SALAZAR 2015,C.A.', 'H&D COMPANY S.R.L',
       'TIENDA DICONS SRL (SANTIAGO)', 'RESERVA GABYN',
       'DISTRIBUIDORA 2224', 'JOSE N. BATARSE, S.A. DE C.V.',
       'RES. GABYN', 'DISTRIBUIDORA 2224, C.A.', 'PIU MEIS S.R.L.',
       'BENJAMIN ALEXIS MATUTE ESCOBAR-LAC.', 'TIENDA PALM',
       'CELL STAR DA VINCI ENTERPRISES',
       'YOUNG FASHION  RAMON HIPOLITO PEREZ',
       'RES. CLIENTES INTERNACIONALES', 'RES.GABYN(2)',
       'ANDRES GOMEZ FASHION STORE SRL', 'TIENDA DICONS SRL (LA VEGA)',
       'PHONE BOX, C.A.', 'RES.GABYN'], dtype=object)

In [29]:
len(clientes_activos)

37

In [30]:
data_df_filtered['Coleccion'].value_counts()

SS2024    3860
FW2024    3433
FW2022    2911
SS2023    2344
FW2023    2337
SS2020    2076
FW2020    1891
SS2022    1591
FW2021    1041
SS2021     621
Name: Coleccion, dtype: int64

In [31]:
# Filtrar el DataFrame original para mantener solo los registros de clientes activos
data_df_final = data_proces_status[data_proces_status['Nombre_Cliente'].isin(clientes_activos)]

In [32]:
data_df_final['Coleccion'].value_counts()

SS2024    3860
FW2018    3560
FW2024    3433
FW2022    2911
SS2023    2344
FW2023    2337
SS2020    2076
FW2020    1891
FW2019    1826
SS2019    1621
SS2022    1591
SS2018    1408
FW2016    1349
FW2017    1097
FW2021    1041
SS2017     850
SS2016     822
SS2021     621
Name: Coleccion, dtype: int64

In [33]:
data_df_final.shape

(34638, 14)

In [34]:
compras_eliminadas = data_proces_status.shape[0] - data_df_final.shape[0]
compras_eliminadas

16127

In [35]:
# valores únicos de la columna 'Nombre_Cliente' en el DataFrame filtrado
clientes_restantes = data_df_final['Nombre_Cliente'].unique()

# Convertir a lista para mejor visualización 
lista_clientes_restantes = list(clientes_restantes)

lista_clientes_restantes

['RIPOSTO,S.A.',
 'ICOSAL S.A. DE C.V.',
 'ICOSAL,S.A. AEROPUERT',
 'INVERSIONES MONTIJO, S.A.',
 'REMOTEXBO, S.A.',
 'OPTIKA, S.A.',
 'RES.CLIENTES INTERNACIONALES',
 'ALMACEN JERUSALEN',
 'RES. CLIENTES INTERNACIONALES',
 'CORP.DE FRANQUICIAS CENTRO AMERICANA,S.A',
 'RES.GABYN',
 'RES.SUCURSALES SR.JACK',
 'DISTRIBUIDORA RIMET HONDURAS, S.A.',
 'DISTRIBUIDORA ATLANTIS',
 'CELL STAR DA VINCI ENTERPRICES',
 'CITY MALL (DAVID)',
 'INVERSIONES GABYN,S.A.',
 'ADN GROUP, S.A.',
 '                                        ',
 'RES. GABYN S.A.',
 'INVERSIONES Y REPRES. SALAZAR 2015,C.A.',
 'H&D COMPANY S.R.L',
 'TIENDA DICONS SRL (SANTIAGO)',
 'RESERVA GABYN',
 'DISTRIBUIDORA 2224',
 'JOSE N. BATARSE, S.A. DE C.V.',
 'RES. GABYN',
 'DISTRIBUIDORA 2224, C.A.',
 'PIU MEIS S.R.L.',
 'BENJAMIN ALEXIS MATUTE ESCOBAR-LAC.',
 'TIENDA PALM',
 'CELL STAR DA VINCI ENTERPRISES',
 'YOUNG FASHION  RAMON HIPOLITO PEREZ',
 'RES.GABYN(2)',
 'ANDRES GOMEZ FASHION STORE SRL',
 'TIENDA DICONS SRL (LA VEGA)',
 'PHONE BOX, C.A.']

In [36]:
len(lista_clientes_restantes)

37

## Análisis por columna. Ajustes

### Ajustes columnas "Pais Productor"

In [37]:
data_df_final['Pais_Producto'].unique()

array(['CHINA', 'RUMANIA', 'CHINA                    00042', 'VIETNAM',
       'INDONESIA', 'TUNISIA', 'PERU', 'EL SALVADO', 'MALASIA', 'FRANCIA',
       'MARRUECOS', 'COREA DEL SUR', 'LITUANIA', 'EL SALVADOR', 'TUNEZ',
       'BULGARIA', 'CAMBODIA', 'PORTUGAL', 'MAURICIO', 'TURQUIA',
       'SRI LANKA', 'COLOMBIA', 'GUATEMALA', 'TAILANDIA', 'MADAGASCAR',
       'CAMBOYA', 'EGIPTO', 'SERBIA', '                              ',
       'PARAGUAY', 'MEXICO', 'ITALIA', 'SERVIA'], dtype=object)

In [38]:
import string
import re

def basic_text_preprocess(sentence):
    """Función que realiza limpieza de texto. Incluye limpieza básica: eliminar espacios, pasar a minúscula,
    eliminar números y puntuación"""
    sentence = sentence.strip() #elimina espacios
    sentence = sentence.lower() #pasa texto a minúscula
    sentence = ''.join(char for char in sentence if not char.isdigit()) #elimina números

    for punctuation in string.punctuation:
        sentence = sentence.replace(punctuation, '') #elimina puntuaciones
        
    # Eliminar espacios duplicados resultantes de las sustituciones
    sentence = re.sub(r'\s+', ' ', sentence).strip()
        
    return sentence

In [39]:
data_df_final.shape

(34638, 14)

In [40]:
data_df_final['Pais_Producto'] = data_df_final['Pais_Producto'].apply(basic_text_preprocess)

/tmp/ipykernel_1070/817777505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_df_final['Pais_Producto'] = data_df_final['Pais_Producto'].apply(basic_text_preprocess)

In [41]:
data_df_final.head()

,Coleccion,Referencia,Descripcion,Color,No.Pedido,Tot_Piezas,Costo_Fabrica,Precio_Venta,Pais_Producto,Cta_Cliente,Nombre_Cliente,Estatus,Plataforma,familia
2,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5597,6.0,15.65,25.0,china,2313076,"RIPOSTO,S.A.",EN SISTEMA,ASIA,RK
13,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5630,2.0,15.65,25.0,china,2224074,ICOSAL S.A. DE C.V.,EN SISTEMA,ASIA,RK
14,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5631,2.0,15.65,25.0,china,2224090,"ICOSAL,S.A. AEROPUERT",EN SISTEMA,ASIA,RK
15,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5635,5.0,15.65,25.0,china,2209051,"INVERSIONES MONTIJO, S.A.",EN SISTEMA,ASIA,RK
18,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,031,5597,6.0,15.65,25.0,china,2313076,"RIPOSTO,S.A.",EN SISTEMA,ASIA,RK

In [42]:
data_df_final['Pais_Producto'].value_counts()

peru             13257
china             5348
turquia           2708
tunez             2226
vietnam           2150
sri lanka         1700
indonesia          990
colombia           870
cambodia           760
camboya            698
mauricio           678
marruecos          474
madagascar         459
rumania            392
francia            361
paraguay           253
guatemala          237
el salvador        228
tunisia            212
malasia            195
mexico              73
serbia              66
tailandia           65
egipto              47
el salvado          44
                    38
bulgaria            37
servia              30
lituania            24
portugal            14
corea del sur        2
italia               2
Name: Pais_Producto, dtype: int64

In [43]:
def replace_countries(sentence):
    '''Función para corregir errores de tipeo identificado en el análisis de valores únicos'''
    sentence = re.sub(r'\bcambodia\b', "camboya", sentence)
    sentence = re.sub(r'\bel salvado\b', "el salvador", sentence)
    sentence = re.sub(r'\btunisia\b', "tunez", sentence)
    sentence = re.sub(r'\bservia\b', "serbia", sentence)
    
    return sentence

In [44]:
# Aplico función para corregir errores de escritura en columna "Pais Productor"
data_df_final['Pais_Producto_fil'] = data_df_final['Pais_Producto'].apply(replace_countries)

/tmp/ipykernel_1070/579472978.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_df_final['Pais_Producto_fil'] = data_df_final['Pais_Producto'].apply(replace_countries)

In [45]:
data_df_final['Pais_Producto_fil'].value_counts()

peru             13257
china             5348
turquia           2708
tunez             2438
vietnam           2150
sri lanka         1700
camboya           1458
indonesia          990
colombia           870
mauricio           678
marruecos          474
madagascar         459
rumania            392
francia            361
el salvador        272
paraguay           253
guatemala          237
malasia            195
serbia              96
mexico              73
tailandia           65
egipto              47
                    38
bulgaria            37
lituania            24
portugal            14
corea del sur        2
italia               2
Name: Pais_Producto_fil, dtype: int64

In [46]:
# Se observa que hay filas vacías que no son datos nulos, en este caso, se reemplaza por "sin dato"
data_df_final['Pais_Producto_fil'] = data_df_final['Pais_Producto_fil'].str.replace(r'^\s*$', 'sin dato', regex=True)

/tmp/ipykernel_1070/1286013631.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_df_final['Pais_Producto_fil'] = data_df_final['Pais_Producto_fil'].str.replace(r'^\s*$', 'sin dato', regex=True)

In [47]:
data_df_final['Pais_Producto_fil'].value_counts()

peru             13257
china             5348
turquia           2708
tunez             2438
vietnam           2150
sri lanka         1700
camboya           1458
indonesia          990
colombia           870
mauricio           678
marruecos          474
madagascar         459
rumania            392
francia            361
el salvador        272
paraguay           253
guatemala          237
malasia            195
serbia              96
mexico              73
tailandia           65
egipto              47
sin dato            38
bulgaria            37
lituania            24
portugal            14
corea del sur        2
italia               2
Name: Pais_Producto_fil, dtype: int64

### Ajustes columnas "Cliente"

Ajustes a realizar:
1. Analizar si cada cliente tiene asociado un número de cuenta único
2. Realizar ajustes en escritura
3. Resolver casos con datos en blanco (cadena de texto vacía)

In [48]:
data_df_final.head()

,Coleccion,Referencia,Descripcion,Color,No.Pedido,Tot_Piezas,Costo_Fabrica,Precio_Venta,Pais_Producto,Cta_Cliente,Nombre_Cliente,Estatus,Plataforma,familia,Pais_Producto_fil
2,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5597,6.0,15.65,25.0,china,2313076,"RIPOSTO,S.A.",EN SISTEMA,ASIA,RK,china
13,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5630,2.0,15.65,25.0,china,2224074,ICOSAL S.A. DE C.V.,EN SISTEMA,ASIA,RK,china
14,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5631,2.0,15.65,25.0,china,2224090,"ICOSAL,S.A. AEROPUERT",EN SISTEMA,ASIA,RK,china
15,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5635,5.0,15.65,25.0,china,2209051,"INVERSIONES MONTIJO, S.A.",EN SISTEMA,ASIA,RK,china
18,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,031,5597,6.0,15.65,25.0,china,2313076,"RIPOSTO,S.A.",EN SISTEMA,ASIA,RK,china

In [49]:
data_df_final.shape

(34638, 15)

In [50]:
len(data_df_final['Cta_Cliente'].unique())

29

En el dataset filtrado tenemos **37** nombres de clientes distintos y **29** números de cuentas distintos.

Calculamos la cantidad de nombres de clientes por número de Cuenta Cliente

In [63]:
# Calculo valores únicos de la columna 'Cta_Cliente' en el DataFrame filtrado final
cuenta_cliente = data_df_final['Cta_Cliente'].unique()

# Convertir a lista para mejor visualización 
lista_cuenta_cliente = list(cuenta_cliente)

lista_cuenta_cliente

[2313076,
 2224074,
 2224090,
 2209051,
 2306225,
 2601001,
 0,
 2000006,
 2220157,
 2218028,
 1307012,
 1207097,
 2214097,
 2214102,
 2403005,
 2220239,
 1307082,
 2327373,
 2401118,
 2401117,
 2327376,
 2224094,
 2201119,
 2214118,
 2218024,
 2401112,
 2401116,
 2401114,
 2327377]

In [71]:
len(data_df_final['Cta_Cliente'].unique())

29

In [72]:
# Loop para obtener los nombre de los clientes para cada cuenta cliente
clientes_unicos = {}

for num in cuenta_cliente:
    #Filtrado de dataset para obtener todas las filas que coinciden con el número de cuenta
    filas_cta_cliente = data_df_final[data_df_final['Cta_Cliente'] == num]
    
    #Obtenemos los nombres de clientes únicos 
    nombre_cliente = list(filas_cta_cliente['Nombre_Cliente'].unique())
   
    #Agregamos valor al diccionario donde key = cta cliente y valores es una lista de los nombre de clientes únicos
    clientes_unicos[num] = nombre_cliente

In [74]:
clientes_unicos

{2313076: ['RIPOSTO,S.A.'],
 2224074: ['ICOSAL S.A. DE C.V.'],
 2224090: ['ICOSAL,S.A. AEROPUERT'],
 2209051: ['INVERSIONES MONTIJO, S.A.'],
 2306225: ['REMOTEXBO, S.A.'],
 2601001: ['OPTIKA, S.A.'],
 0: ['RES.CLIENTES INTERNACIONALES',
  'RES. CLIENTES INTERNACIONALES',
  '                                        '],
 2000006: ['RES.CLIENTES INTERNACIONALES', 'RES. CLIENTES INTERNACIONALES'],
 2220157: ['ALMACEN JERUSALEN'],
 2218028: ['CORP.DE FRANQUICIAS CENTRO AMERICANA,S.A', 'ADN GROUP, S.A.'],
 1307012: ['RES.GABYN', 'RES. GABYN S.A.', 'RESERVA GABYN', 'RES. GABYN'],
 1207097: ['RES.SUCURSALES SR.JACK',
  'RES.GABYN(2)',
  '                                        '],
 2214097: ['DISTRIBUIDORA RIMET HONDURAS, S.A.'],
 2214102: ['DISTRIBUIDORA ATLANTIS'],
 2403005: ['CELL STAR DA VINCI ENTERPRICES', 'CELL STAR DA VINCI ENTERPRISES'],
 2220239: ['CITY MALL (DAVID)'],
 1307082: ['INVERSIONES GABYN,S.A.', 'RES.GABYN(2)'],
 2327373: ['INVERSIONES Y REPRES. SALAZAR 2015,C.A.'],
 2401118: ['H&D COMPANY S.R.L'],
 2401117: ['TIENDA DICONS SRL (SANTIAGO)'],
 2327376: ['DISTRIBUIDORA 2224', 'DISTRIBUIDORA 2224, C.A.'],
 2224094: ['JOSE N. BATARSE, S.A. DE C.V.'],
 2201119: ['PIU MEIS S.R.L.'],
 2214118: ['BENJAMIN ALEXIS MATUTE ESCOBAR-LAC.'],
 2218024: ['TIENDA PALM'],
 2401112: ['YOUNG FASHION  RAMON HIPOLITO PEREZ'],
 2401116: ['ANDRES GOMEZ FASHION STORE SRL'],
 2401114: ['TIENDA DICONS SRL (LA VEGA)'],
 2327377: ['PHONE BOX, C.A.']}

In [75]:
# Armamos diccionario con las cuentas clientes que tienen asociado más de 1 nombre cliente
clientes_con_varios_nombres = {}

for key,value in clientes_unicos.items():
    if len(value) > 1:
        nombres = list(value)
        clientes_con_varios_nombres[key] = nombres

In [76]:
clientes_con_varios_nombres

{0: ['RES.CLIENTES INTERNACIONALES',
  'RES. CLIENTES INTERNACIONALES',
  '                                        '],
 2000006: ['RES.CLIENTES INTERNACIONALES', 'RES. CLIENTES INTERNACIONALES'],
 2218028: ['CORP.DE FRANQUICIAS CENTRO AMERICANA,S.A', 'ADN GROUP, S.A.'],
 1307012: ['RES.GABYN', 'RES. GABYN S.A.', 'RESERVA GABYN', 'RES. GABYN'],
 1207097: ['RES.SUCURSALES SR.JACK',
  'RES.GABYN(2)',
  '                                        '],
 2403005: ['CELL STAR DA VINCI ENTERPRICES', 'CELL STAR DA VINCI ENTERPRISES'],
 1307082: ['INVERSIONES GABYN,S.A.', 'RES.GABYN(2)'],
 2327376: ['DISTRIBUIDORA 2224', 'DISTRIBUIDORA 2224, C.A.']}

En base al análisis anterior:
1. Valor "0" pasa a '2000006' -- res. clientes internacionales
2. El resto queda igual ya que son los mismos clientes, trabajaremos sobre **Cta. Cliente**

In [92]:
#función lambda para cambiar 0 por valor 2000006
data_df_final['Cta_Cliente_final'] = data_df_final['Cta_Cliente'].apply(lambda x: 2000006 if x == 0 else x)

/tmp/ipykernel_1070/2464154037.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_df_final['Cta_Cliente_final'] = data_df_final['Cta_Cliente'].apply(lambda x: 2000006 if x == 0 else x)

In [93]:
data_df_final.head()

,Coleccion,Referencia,Descripcion,Color,No.Pedido,Tot_Piezas,Costo_Fabrica,Precio_Venta,Pais_Producto,Cta_Cliente,Nombre_Cliente,Estatus,Plataforma,familia,Pais_Producto_fil,Cta_Cliente_final
2,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5597,6.0,15.65,25.0,china,2313076,"RIPOSTO,S.A.",EN SISTEMA,ASIA,RK,china,2313076
13,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5630,2.0,15.65,25.0,china,2224074,ICOSAL S.A. DE C.V.,EN SISTEMA,ASIA,RK,china,2224074
14,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5631,2.0,15.65,25.0,china,2224090,"ICOSAL,S.A. AEROPUERT",EN SISTEMA,ASIA,RK,china,2224090
15,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5635,5.0,15.65,25.0,china,2209051,"INVERSIONES MONTIJO, S.A.",EN SISTEMA,ASIA,RK,china,2209051
18,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,031,5597,6.0,15.65,25.0,china,2313076,"RIPOSTO,S.A.",EN SISTEMA,ASIA,RK,china,2313076

In [101]:
data_df_final['Cta_Cliente_final'].value_counts()

1207097    3608
2313076    3527
2224074    3291
2209051    3218
2000006    2335
1307012    2096
2306225    1960
2214102    1885
2220157    1834
2214097    1610
2218028    1511
2403005    1378
2224090    1193
2327376     847
2201119     825
2601001     758
2220239     606
2224094     587
1307082     529
2218024     330
2401117     222
2401112     149
2327373      84
2401116      78
2401118      69
2401114      51
2327377      38
2214118      19
Name: Cta_Cliente_final, dtype: int64

In [102]:
data_df_final.shape

(34638, 16)

### Ajustes columnas "Colección"

En este caso, vamos a realizar los siguientes pasos:
1. Para incorporar el tiempo, se reemplaza SS por may + año y FW por nov + año
2. Además hay que armar una columna sólo con SS y FW

In [105]:
# Crear una nueva columna sólo con SS o FW según corresponda
data_df_final['Temporada'] = data_df_final['Coleccion'].str.extract(r'(\w{2})')

/tmp/ipykernel_1070/914806934.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_df_final['Temporada'] = data_df_final['Coleccion'].str.extract(r'(\w{2})')

In [106]:
data_df_final.head()

,Coleccion,Referencia,Descripcion,Color,No.Pedido,Tot_Piezas,Costo_Fabrica,Precio_Venta,Pais_Producto,Cta_Cliente,Nombre_Cliente,Estatus,Plataforma,familia,Pais_Producto_fil,Cta_Cliente_final,Temporada
2,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5597,6.0,15.65,25.0,china,2313076,"RIPOSTO,S.A.",EN SISTEMA,ASIA,RK,china,2313076,FW
13,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5630,2.0,15.65,25.0,china,2224074,ICOSAL S.A. DE C.V.,EN SISTEMA,ASIA,RK,china,2224074,FW
14,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5631,2.0,15.65,25.0,china,2224090,"ICOSAL,S.A. AEROPUERT",EN SISTEMA,ASIA,RK,china,2224090,FW
15,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,001,5635,5.0,15.65,25.0,china,2209051,"INVERSIONES MONTIJO, S.A.",EN SISTEMA,ASIA,RK,china,2209051,FW
18,FW2016,RK2321,GORRA LACOSTE PARA CABALLERO,031,5597,6.0,15.65,25.0,china,2313076,"RIPOSTO,S.A.",EN SISTEMA,ASIA,RK,china,2313076,FW

Pasos:

1° duplicados, NaN, filtrar "cancelados", filtrar clientes que desde 2019 no compran

2° Colección: SS -- 01-05-2016   -   FW -- 01-11-2016
             Agregar 2 nueva columna SS o FW
   Referencia -- Familia -- "encoding" (agregar columnas)
   Total piezas (y - target)
   país productor -- corregir texto con distinta escritura (Servia, Camboya) 
                  -- encoding
   Cliente -- encoding
   Plataforma -- encoding

función para reemplazar 'AW' con 'FW'
def standardize_coleccion_name(name):
    return name.replace('AW', 'FW')

Aplicar la función a la columna 'Coleccion'
data_proces_status['Coleccion'] = data_proces_status['Coleccion'].apply(standardize_coleccion_name)

data_proces_status['Coleccion'].value_counts()